:root{
    padding: 0px ;
    margin: 0px;
    --background-colour : #59253a;
    --text-colour: white;
    --headind-colour : #78244c;
    background-color: var(--background-colour);
}
*{
    margin: 0;
    padding: 0;
}
.navwrapper{
    height: 70px;
    width: inherit;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--headind-colour);
}
.container{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.navbar ul{ 
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
    
    
}
.navbar{
    position: absolute;
    right: 10%;
    width: 30%;
    display: flex;
    justify-content: space-between   ;
    align-items: center;
}
.navbar ul li{
    display: flex;
    justify-content: space-around;
    width: inherit;
    align-items: center;

    
}
.navbar ul li a{
    display: flex;
    justify-content: center;
    color: var(--text-colour);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    transition: .3s ease;
}
#logo{
    position: absolute;
    left: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    color: var(--text-colour);
}
.navbar ul li:hover a{
    color: rgb(243, 174, 234);
}
.navbar ul li:active a{

    font-size: 1em;
    text-align: center;
    transform-origin: center;
}
.navbar ul li:focus {
    background-color: black    ;

}
.cont{
    position: relative;
    max-height: calc(100vh - 70px - 70px);
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: calc(100vh - 70px - 70px);
    overflow: hidden;
}
.content , .form{
    max-height: inherit;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.intro{
    top: 5%;
    max-width: 50%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    
}
.intro :is(h2){
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: var(--text-colour);
    
}

.intro h1{
    position: relative;
    font-size: 6em;
    font-family: 'Poppins', sans-serif;
    color: #ad2a6a;
    transform: translateX(26%);
}
.intro p{
    padding-top: 50px;
    text-align: justify;
    color: var(--text-colour);
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}
.footer{
    min-height: 70px;
    min-width: inherit;
    background-color: var(--headind-colour);
    display: flex;
    justify-content: center;
}
.flex2 form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-width: 80%;
    min-height: 80%;
    background-color: rgb(250, 255, 255);
    border-radius: 60px;
    position: relative;
    right: 10%;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}
.form input ,.form textarea{
    outline: none;
    width: 100%;
    height: 100%;
    border: none  ;
    font-size: 1.1em;
    border-bottom: #000000 1px solid;
    resize: none;

    
}
.form textarea{
    padding: 50px;
    border: none;
    border-bottom: #9e2f65 2px solid;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.form input{
    padding-top: 25px;

}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60px;
    overflow:hidden;
}

.form label{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid #9e2f65;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    

    
}
.message {
    height: 70px;
}
.message label{
    height: 100%;
   border: none;
}
button{
    width: 30%;
    height: 50px;
    border-radius: 40px;
    margin-top: 40px;
    border: none;
    background-color: #e33b8d;
    
}

button:active{
    opacity: 0.9;
}
.card h1{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    color:  #c01f6d;
    
}
.social{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon a img{
    mix-blend-mode: darken;
    cursor: pointer;
}

@media (max-width: 1300px){

.intro h1{
transform: none;

}

.intro p{
    padding-top: 0px;
}
.card{
    gap: 30px;
}

}

@media(max-height:1000px){
    .card{
        gap: 30px;
    }
}
@media(max-width:950px){
    .navbar{
        position: absolute;
        top: 0;
        bottom: 0;
        align-items: unset;
        right: 0;
        width: 60%;
        display: flex;
        justify-content: center;
        transform: translateX(100%);
        z-index: 5;
    }
    .navwrapper{
        align-items: center;
        justify-content: center;
    }
    #logo{
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar ul{
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--headind-colour);
        z-index: 5;
        justify-content: space-evenly;
    }
    .navbar ul li a{
        font-size: 1.5em;
    }
    .navbar ul li{
        
        min-height: 50px;
    }
    .cont{
        grid-template-rows: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        max-height: none;
        overflow: visible;
    }
    .content{
       align-items: unset;
       max-height: auto;
       flex-grow: 2;
       overflow: visible;
       
    }
    .intro h2{
        font-size: 4em;
        text-align: center;
    }
    .intro h1{
        font-size: 4em;
        text-align: center;
        margin-top: 30px;
    }
    .intro p{
        margin-top: 40px;
    }
    .container{
        min-height: auto;
        max-height: auto;
    }
    .footer{
        bottom: 0;
        position: relative;
    }
    .flex2 form{
        display: flex;
        position: relative;
        left: 10%;
        height: auto;
        
    }
    .flex2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: auto;
        overflow: visible;
    }
    .intro{
        position: relative;
        height: auto;
        top: 0;
    }
    .card h1{
        padding: 0;
        margin: 25px;
    }
    .card{
        gap: 20px;
        min-width: 70%;
        height: auto;
    }
    .card button{
        padding: 0;
        margin-bottom: 20px ;
        
    }

}