@font-face {
    font-family: Snake;
    src: url(PoisonLovePersonalUse-jEvlO.ttf);
}
body{
    text-align: center !important;
    background: grey; 
    background-image: url(zldaLS.webp);  
}

.snakeFont{
    font-family: snake;
}

canvas{
    border: 2px solid white;
}

